# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# shell script for automatically adding files > 50 MB:
# find . -size +50M  | cut -c 3-1000 >> .gitignore


.git/objects/2c/2ceaea8c0814f1042f129b87522bfb74d605a5
.git/objects/f9/2d6ccc2c696bfb50df667df9fc2160db9ab217
.git/objects/pack/pack-04e34f809f18eeb4d75e1cc330cb24b24fd26ce0.pack
res.final.RData
res.hyp.RData
res.wide.RData
res.wide.red.RData
