# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

stanleyMA.RData
simData/stanleyMA2.RData

*.RData

analysisData/analysisStanley2.RData

*.RData

analysisData/analysisStanley2.RData
